<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Registration Form</title>
    <!-- 부트스트랩 CSS 추가 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-3">
    <!-- 네비게이션 링크 -->
    <nav class="nav mb-3">
        <a href="/board" class="nav-link">Board</a>
        <a href="/member" class="nav-link">Member</a>
        <a href="/guild" class="nav-link">Guild</a>
    </nav>

    <!-- 게임 등록 폼 -->
    <form id="gameForm" action="/game/regist" method="post" class="mb-3">
        <div class="form-group">
            <label for="gameTitle">게임 제목:</label>
            <input type="text" id="gameTitle" name="gameTitle" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">저장</button>
    </form>

    <!-- 게임 리스트 테이블 -->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>게임 ID</th>
            <th>제목</th>
            <th>액션</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="game : ${gameList}">
            <td th:text="${game.id}"></td>
            <td th:text="${game.title}"></td>
            <td>
                <form action="/post/delete" th:action="@{/game/{id}/delete (id = ${game.id})}" method="post">
                    <button type="submit" class="btn btn-danger">delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- 부트스트랩 JS 추가 -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
