<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guild List</title>
    <!-- 부트스트랩 CSS 추가 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
<div class="container mt-3">
    <nav class="nav mb-3">
        <a href="/" class="nav-link">Home</a>
        <a href="/guild/add" class="nav-link">Guild Add</a>
        <a href="/guild/joinForm" class="nav-link">Guild Join</a>
    </nav>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>길드 ID</th>
            <th>길드 명</th>
            <th>길드 소개</th>
            <th>하는 게임</th>
            <th>길드 포인트</th>
            <th>길드장</th>
            <th>액션</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="guild : ${guildList}">
            <td th:text="${guild.guild.getId()}"></td>
            <td th:text="${guild.guild.getName()}"></td>
            <td th:text="${guild.guild.getIntroduce()}"></td>
            <td th:text="${guild.game.getTitle()}"></td>
            <td th:text="${guild.guild.getPoint()}"></td>
            <td th:text="${guild.guild.getLeader()}"></td>
            <td>
                <form action="/guild/delete" th:action="@{/guild/{id}/delete (id = ${guild.guild.getId()})}" method="post">
                    <button type="submit" class="btn btn-danger">delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- 부트스트랩 JS 추가 -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
