<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Registration Form</title>
    <!-- 부트스트랩 CSS 추가 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-3">
    <!-- 게임 등록 폼 -->
    <form id="gameForm" action="/board/registration" method="post" class="mb-3">
        <div class="form-group">
            <label for="type">타입:</label>
            <input type="text" id="type" name="type" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="boardTitle">제목:</label>
            <input type="text" id="boardTitle" name="boardTitle" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="boardContent">내용:</label>
            <input type="text" id="boardContent" name="boardContent" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="opentalk">오픈카톡 링크:</label>
            <input type="text" id="opentalk" name="opentalk" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="memberId">멤버 id:</label>
            <input type="text" id="memberId" name="memberId" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary">저장</button>
    </form>
</div>

<!-- 부트스트랩 JS 추가 -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>