<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div class="container">
    <div>
        <div>
            <a href="/">home</a>
        </div>

        <div>
            <a href="/board/add">board add</a>
        </div>

        <div>
            <form action="/board" method="get">
                <label for="keyword">단어:</label><br>
                <input type="text" id="keyword" name="keyword"><br>
                <input type="submit" value="검색">
            </form>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>게시글 ID</th>
                <th>제목</th>
                <th>내용</th>
                <th>오픈카톡 링크</th>
                <th>타입</th>
                <th>등록 시간</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boardList}">
                <td th:text="${board.id}"></td>
                <td th:text="${board.title}"></td>
                <td th:text="${board.content}"></td>
                <td th:text="${board.opentalk}"></td>
                <td th:text="${board.type}"></td>
                <td th:text="${board.time}"></td>

                <td>
                    <form action="/post/delete" th:action="@{/board/{id}/delete (id = ${board.id})}" method="post">
                        <div>
                            <button type="submit" class="btn btn-primary">delete</button>
                        </div>
                    </form>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>

</html>