<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Registration Form</title>
</head>
<body>

<form id="gameForm" action="/member/regist" method="post">
    <label for="nickname">닉네임:</label><br>
    <input type="text" id="nickname" name="nickname" required><br>
    <label for="username">ID:</label><br>
    <input type="text" id="username" name="username" required><br>
    <label for="password">password:</label><br>
    <input type="text" id="password" name="password" required><br>
    <input type="submit" value="저장">
</form>


</body>
</html>