<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Registration Form</title>
</head>
<body>

<div>
    <a href="/">home</a>
</div>
<div>
    <a href="/member/add">member regist</a>
</div>

<div class="container">

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>닉네임</th>
                <th>ID</th>
                <th>Password</th>
                <th>게임 리스트</th>
                <th>길드</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${memberList}">
                <td th:text="${member.id}"></td>
                <td th:text="${member.nickname}"></td>
                <td th:text="${member.username}"></td>
                <td th:text="${member.password}"></td>
                <td th:text="${member.getMemberGames()}"></td>
                <td th:text="${member.guild}"></td>

                <td>
                    <form action="/member/delete" th:action="@{/member/{id}/delete (id = ${member.id})}" method="post">
                        <div>
                            <button type="submit" class="btn btn-primary">delete</button>
                        </div>
                    </form>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>